// Var  
$primary-color: #004AAD; //Bleu cobalt
$secondary-color: #38B6FF; //Bleu clair
$tertiary-color: #E0E2E6; //Gris clair
$text-color: #FFFFFF;
$font-stack: 'Verdana', sans-serif;

// Mixins
@mixin center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin space-evenly {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

@mixin container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 1rem;
}

// Reset
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $font-stack;
}

body {
  color: $text-color;
  background-color: $secondary-color;
  line-height: 1.6;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  background-color: $primary-color;
  color: white;

  h1 {
    text-align: center;
    margin-bottom: 0.5rem;
  }

  nav ul {
    @include center();
    list-style: none;
    background-color: white;
    gap: 1.5rem;

    li {
      transition: all 0.4s ease-in-out 0.2s;

      a {
        padding-inline: 5rem;
        padding-block: 1rem;
        color: black;
        text-decoration: none;
      }

      &:hover {
        background-color: $tertiary-color;
        a{
          color: $secondary-color;
        }
      }
    }
  }
}

.sidebar {
      width: 200px;
      background-color: white;
      color: black;
      padding: 1rem;
}

main {
  @include container;
  flex:1;
  section {
    background-color: white;
    padding: 2rem;
    margin-top: 2rem;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
  }

  h2 {
    margin-bottom: 1rem;
    color: $secondary-color;
  }
}

footer {
  text-align: center;
  padding: 0.2rem;
  background-color: #FFFFFF;
  color: #666;
  margin-top: 2rem;
}

.contact {
  margin-block: 2vh;
  ul {
    justify-items: center;
    list-style: none;
    li {
      padding-inline: 8%;
      padding-block: 1rem;
      transition: all 0.4s ease-in-out 0.2s;

      a {
        color: black;
        text-decoration: none;
      
        &:hover {
          color: $primary-color;
        } 
      }
    }
  }
}

//média query 

@media (max-width: 700px) {

  header nav ul li a {
    padding-inline: 2rem;
  }

}